*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

:root {
  font-family: system-ui;
  font-size: 16px;
  line-height: 1.15;
}

h1 {
  font-weight: 500;
}

body {
  padding-inline: 1.5em;
  background-color: #efefef;
}
